@model User
@{
    ViewData["Title"] = "Block";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@Model.FullName</h4>
                <p class="card-description">

                </p>
                <p>
                    @Model.Email
                </p>
                <p class="text-danger">@User.Identity.Name adli istifadecini block istediyinizden eminsiniz mi ?</p>
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
                <form method="post" asp-action="Block">
                    <button class="btn btn-danger" type="submit">Block</button>
                </form>
            </div>
        </div>
    </div>
</div>

